  
    html{
        height: 100%;
    }
    
    /* fixed elements */
    /* header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(62, 78, 78);
    } */
    
    
    footer{
        font-size: 30px;
        position: center;
        bottom: 0;
        width: 100%;
        margin-top: auto;
        /* background-color:#414073; */
        /* padding: 15px; */
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
       
    
    /* product section */
    #products{
        text-align: center;
    }
    
    /* lines up product boxes */
    #products .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }
    
    /* sizes product boxes */
    #products .pro{
        width: 30%;
        min-width: 250px;
        padding: 10px 12px;
        border: 2px solid #ffffff;
        border-radius: 25px;
        box-shadow: 20px, 20px, 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
    }
    
    /* sizes image */
    #products .pro img{
        width: 100%;
        border-radius: 20px;
    }
    
    /* reads from left side */
    #products .pro .description{
        text-align: start;
        padding: 10px 0;
    }
    
    /* new version */
    #products .pro .description .details{
        color: white;
        /* color: #c92d76; */
        font-size: 15px;
    }
    
    #products .pro .description .pro-title{
        padding-top: 7px;
        color: white;
        /* color: #c92d76; */
        font-size: 23px;
    }
    
    #products .pro .description .pro-price{
        padding-top: 7px;
        font-size: 20px;
        font-weight: 700;
        /* color: #c92d76; */
        color: white;
    }
